.icon{
    color: red;
    font-size: 30px;
}
body{
    background: #c31432; 
    background: -webkit-linear-gradient(to right, #240b36, #c31432); 
    background: linear-gradient(to right, #240b36, #c31432);
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.box{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.btn.btn-secondary {
    align-items: center;
    text-align: center;
    left: 36%;
    position: relative;
    margin-bottom: 30px;
    background-color: green;
    font-size: 25px;
    font-family: sans-serif;
}
.text-centre{
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
    margin-bottom: 20px;
}
